<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <nav th:replace="base :: header"></nav>
    <h1 class="text-center text-info mt-2">QUẢN LÝ SẢN PHẨM</h1>

    <form th:action="@{/products}" method="post" enctype="multipart/form-data" th:object="${product}">
        <div class="form-floating mb-3 mt-3">
            <label for="name" class="form-label">Tên sản phẩm:</label>
            <input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" th:field="*{name}">
        </div>
        <div class="form-floating mb-3 mt-3">
            <label for="price" class="form-label">Giá sản phẩm:</label>
            <input type="number" class="form-control" id="price" placeholder="Giá sản phẩm" th:field="*{price}">
        </div>
        <div class="form-floating">
            <select class="form-select" id="cate" th:field="*{categoryId}">
                <option th:each="c: ${categories}" th:text="${c.name}" th:value="${c.id}"></option>
            </select>
            <label for="cate" class="form-label">Danh mục:</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <label for="file" class="form-label">Chọn ảnh sản phẩm:</label>
            <input type="file" class="form-control" id="file" th:field="*{file}">
        </div>
        <div class="form-floating mb-3 mt-3">
            <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
        </div>
    </form>

    <footer th:replace="base :: footer"></footer>
</body>
</html>